<!DOCTYPE html>
<html lang="en" ng-app="TeamApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Team App Challenge</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="AppCtrl">

    <form role="form" class="form-controller" name="signupForm" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$touched }">
        	<label>Email</label>
            <input type="email" id="email" name="email" class="form-control" required ng-model="email" required>
            <p ng-show="signupForm.email.$error.email && signupForm.email.$touched" class="help-block">Enter a valid email.</p>
            <p ng-show="signupForm.email.$touched && signupForm.email.$error.required" class="help-block">Please enter your email</p>
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" id="first-name" name="first-name" class="form-control" ng-model="firstname">
        </div>
        <div class="form-group" ng-class="{'has-error' : signupForm.lastname.$touched && signupForm.lastname.$invalid}">
            <label>Last Name</label>
            <input type="text" id="lastname" name="lastname" class="form-control" required ng-model="lastname">
            <p ng-show="signupForm.lastname.$touched && signupForm.lastname.$invalid" class="help-block" id="needLast">we need to know your last name</p>
        </div>
         <div class="form-group" ng-class="{'has-error':signupForm.birthday.$invalid && signupForm.birthday.$touched}">
            <label>Birthday</label>
            <input type="text" id="birthday" name="birthday" class="form-control" ng-model="birthday" ng-change="checkBirthDate(signupForm)" required />
             <p ng-show="(signupForm.birthday.$error.required || signupForm.birthday.$error.date) && signupForm.birthday.$touched" id="birthday-invalidDate" class="help-block small">Must be a valid date</p>
             <p ng-show="signupForm.birthday.$error.age && signupForm.birthday.$touched" id="birthday-invalidAge" class="help-block small">Must be 13 years old</p>
        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.password.$invalid && signupForm.password.$touched}">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="pass" required>
            <p id="required-alert" ng-show="signupForm.password.$invalid && signupForm.password.$touched" class="help-block small">This is a required field</p>
        </div>
         <div class="form-group" ng-class="{'has-error':signupForm.confirmP.$invalid && signupForm.confirmP.$touched}">
            <label for="confirmP">Confirm Password</label>
            <input type="password" id="confirmP" name="confirmP" class="form-control" ng-model="confirm" ng-change="comparePass(pass, confirm, signupForm)" required>
            <p id="match-alert" ng-show="signupForm.confirmP.$invalid && signupForm.confirmP.$touched" class="help-block small">Passwords must match</p>
        </div>
        <div class="form-group">
            <button class="btn bn-default" ng-click="reset(signupForm); signupForm.$setPristine()">Reset</button>
            <button class="btn btn-primary" id="signup" ng-disabled="signupForm.$invalid">Sign Me Up!</button>
    </div>
    </form>

    <script src="js/app.js"></script>

</body>
</html>
